{% extends 'admin/admin_layout.html' %}

{% block title %} {{item}} Continent {% endblock %}

{% block content %}
<h3 class="pt-3 text-center">{{item}} Continent</h3>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group pt-3">
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.name.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %} 
            </div>
        </fieldset>
        <div class="form-group text-center pt-3">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('admin_views.index') }}" style="margin-left:30px;" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}